# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a

# User files generated work workstation
*.pro.user
*.autosave
*.user

# make files
MakeFile
*.sh#
# OSX Director information
*.DS_Store

# Data files
*.dat

# project folder files
*.xcodeproj/

*.xccheckout

*.xcuserstate

*.xcuserstate

*.xccheckout
